.nav-wrapper {
  a {
    display: block;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.6);
    padding: 10px;
    width: 100px;
    &.active {
      background-color: white;
    }
  }
}
