.login-wrapper {
  width: 400px;
  color: white;
  h2 {
    text-align: center;
  }
  .flex {
    display: flex;
    > * {
      flex: 0 0 50%;
      margin: 5px;
    }
  }
  .error {
    margin-top: 10px;
    background-color: #D44424;
    padding: 10px;
    border-radius: 3px;
  }
}
