.login-wrapper {
  width: 400px;
  color: white;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    text-align: center;
  }
  .flex {
    display: flex;
    > * {
      flex: 1 0 auto;
      margin: 5px;
    }
    label, div {
      width: 150px;
    }
    input {
      background: #E5E5E5;
      box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25);
      border: 0;
      outline: none;
      padding: 5px;
      border-radius: 3px;
      width: 240px
    }
  }
  .error {
    margin-top: 10px;
    background-color: #D44424;
    padding: 10px;
    border-radius: 3px;
  }
}
